<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attack</title>
</head>

<frameset rows="60,*" cols="*" scrolling="No" framespacing="0" frameborder="no" border="0">
    <!-- 引用头部-->
    <frame src="/home/head" name="headmenu" id="mainFrame" title="mainFrame" class="main_head"></frame>
    <!-- 引用头部end -->
    <!-- 引用左边和主体部分 -->
    <frameset rows="*" cols="*" scrolling="No" framespacing="0" frameborder="no" border="1px">
        <frame src="/home/defence_main" name="main" scrolling="yes" noresize="noresize" id="mainFrame" title="mainFrame"></frame>
    </frameset>
</frameset>

</html>