<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/head.css" />
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <div class="nav-content">Backdoor Evalutation</div>
                </a>
                <!-- <a class="navbar-brand" href="#"><img src="../../static/images/main.png" style="width: 60px; height: 40px;"></a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a id="index" href="#">
                            <div class="nav-content">首页</div>
                        </a>
                    </li>
                    <li>
                        <a id="search" href="#">
                            <div class="nav-content">代码搜索评估</div>
                        </a>
                    </li>
                    <li>
                        <a id="attack" href="#">
                            <div class="nav-content">后门攻击评估</div>
                        </a>
                    </li>
                    <li>
                        <a id="defence" href="#">
                            <div class="nav-content">防御检测后门</div>
                        </a>
                    </li>
                    <li>
                        <a id="inject" href="#">
                            <div class="nav-content">后门注入污染</div>
                        </a>
                    </li>
                </ul>

                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <button type="submit" class="btn btn-default" onclick="onlogout()">【退出】</button>
                    </div>
                </form>

            </div>
        </div>
    </nav>
    <script>
        var index = document.getElementById("index");
        var search = document.getElementById("search");
        var attack = document.getElementById("attack");
        var defence = document.getElementById("defence");
        var inject = document.getElementById("inject");

        index.addEventListener("click", function() {
            $.ajax({
                url: "/home/index",
                contentType: "GET",
            });
        });
        search.addEventListener("click", function() {
            $.ajax({
                url: "/home/search_eval",
                contentType: "GET",
            });
            window.top.location = "http://127.0.0.1:5000/home/search_eval"
        });
        attack.addEventListener("click", function() {
            $.ajax({
                url: "/home/attack",
                contentType: "GET",
            });
            window.top.location = "http://127.0.0.1:5000/home/attack"
        });
        inject.addEventListener("click", function() {
            $.ajax({
                url: "/home/inject",
                contentType: "GET",
            });
            window.top.location = "http://127.0.0.1:5000/home/inject"
        });
        defence.addEventListener("click", function() {
            $.ajax({
                url: "/home/defence",
                contentType: "GET",
            });
            window.top.location = "http://127.0.0.1:5000/home/defence"
        });
    </script>
</body>

</html>