<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .wrapper {
            width: 500px;
            height: 50px;
            border: 1px solid black;
            border-radius: 50px;
            margin: 0 auto;
            overflow: hidden;
        }

        .first {
            height: 50px;
            line-height: 50px;
            background-color: green;
            border-radius: 50px;
            position: relative;
            overflow: hidden;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div id="jd" class="first"></div>
    </div>
    <div class="chart">
        <canvas id="myChart"></canvas>
    </div>
    <div class="chart">
        <canvas id="synthesis_chart"></canvas>
    </div>

    <script>
        var charts = $("div.chart");
        $(charts[0]).children().remove();
        $(charts[0]).append($("<canvas />", {
            id: "myChart"
        }));
        const ctx = document.getElementById('myChart');
        var metrics = {
            MRR: 3.16,
            ASR1: 2.98,
            ASR5: 3.08,
            ASR10: 3.10,
            ANR: 2.12,
            Length: 10952
        };
        const data = {
            labels: ['MRR', 'ASR@1', 'ASR@5', 'ASR@10', 'ANR'],
            datasets: [{
                label: "Result",
                data: [metrics.MRR, metrics.ASR1, metrics.ASR5, metrics.ASR10, metrics.ANR],
                fill: true,
                backgroundColor: 'rgba(220,208,255, 0.8)',
                borderColor: 'rgb(128, 0, 128)',
                pointBackgroundColor: 'rgb(220,208,255)',
                pointBorderColor: '#fff',
                pointHoverBackgroundColor: '#fff',
                pointHoverBorderColor: 'rgb(255, 99, 132)'
            }]
        }
        new Chart(ctx, {
            type: 'radar',
            data: data,
            options: {
                responsive: true, // 设置图表为响应式，根据屏幕窗口变化而变化
                maintainAspectRatio: false, // 保持图表原有比例
                elements: {
                    line: {
                        borderWidth: 3 // 设置线条宽度
                    }
                },
                scale: {
                    min: 0,
                    max: 5
                }
            }
        });

        // var charts = $("div.chart");
        $(charts[0]).children().remove();
        $(charts[0]).append($("<canvas />", {
            id: "synthesis_chart"
        }));
        const synthesis_ctx = document.getElementById('synthesis_chart');
        const synthesis_data = {
            labels: [
                '较差',
                '一般',
                '中等',
                '良好',
                '优秀'
            ],
            datasets: [{
                label: '环形图实例',
                data: [20, 20, 20, 20, 20],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)'
                ],
                hoverOffset: 4
            }]
        };
        const synthesis_config = {
            type: 'doughnut',
            data: synthesis_data,
            options: {
                responsive: true, // 设置图表为响应式，根据屏幕窗口变化而变化
                maintainAspectRatio: false,// 保持图表原有比例
            }
        };
        new Chart(synthesis_ctx, synthesis_config);
    </script>
</body>

</html>